<div>
  <form>
    <%= simple_form_for @animal do |f| %>
    <div class="form-row">
      <div class="col-md-6">
        <%= f.input :name %>
      </div>
      <div class="col-md-6">
        <%= f.input :category, collection: Animal::CATEGORIES %>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6">
        <%= f.input :size, collection: Animal::SIZES %>
      </div>
      <div class="col-md-6">
        <%= f.input :power, collection: Animal::POWERS %>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6">
        <%= f.input :address %>
      </div>
      <div class="col-md-6">
        <%= f.input :price %>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6">
        <%= f.input :description %>
      </div>
      <div class="col-md-6">
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      </div>
    </div>
    <%= f.submit class: 'btn btn-flat-yellow' %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <% end %>
  </form>
</div>


<%#= f.input :power, collection: Animal::POWERS, input_html: { class: "js-example-basic-multiple", multiple: "multiple" } %>