<div class="container mt-3 mb-3">
  <h1>Discover creatures</h1>
  <div class="row">
    <% @animals.each do |animal| %>
        <div class="col-12 col-md-6 col-lg-6 col-xl-4">
          <div class="card-trip">
            <%= link_to animal_path(animal), class: 'card-link' do %>
            <% if animal.photos.attached? %>
              <%= cl_image_tag(animal.photos[0].key, crop: :fit) %>
            <% else %>
                <%= image_tag "monster.png" %>
            <% end %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= animal.name %></h2>
                  <%=h truncate(animal.description, :length => 67) %>
                    <div class="rect">
                      <p class="power-tag"> #<%= animal.power %></p>
                    </div>
                </div>
                <h2 class="card-trip-pricing"><%= animal.price %>$</h2>
                <img src="https://gal.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fgal.2Fvar.2Fgal.2Fstorage.2Fimages.2Fmedia.2Fmultiupload_du_11_aout_2015.2Fpere-fouras.2F3406824-1-fre-FR.2Fpere-fouras.2Ejpg/480x480/quality/80/yann-le-gac-les-droles-de-vie-du-pere-fouras.jpg" class="card-trip-user avatar-bordered" />
              </div>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
  </div>
</div>

