<div class="container">
  <h1><%= @animal.name %></h1>
  <h2><%= @animal.category %> - <%= @animal.price %>$</h2>
  <p><%= @animal.description %></p>
  <% @animal.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fit %>
  <% end %>
  <%= link_to "Back", animals_path, class: 'btn btn-primary ml-3' %>
  <%= link_to "Update", edit_animal_path(@animal), class: 'btn btn-primary ml-3' %>
  <%= link_to "Delete", animal_path(@animal), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-primary ml-3' %>
</div>
